{% extends "layout.html" %}
{% block content %}

<h1>Different Schemes of GOI </h1>
<p>
    
The Indian government has launched several schemes and initiatives in recent years to increase awareness of elections and encourage voter participation. Some of the latest schemes include:

1. SVEEP (Systematic Voters' Education and Electoral Participation): This is an initiative launched by the Election Commission of India to increase voter awareness and participation. It aims to educate voters about their rights and responsibilities, and to encourage them to vote in every election.

2. ECI's Voter Verification and Information Programme (VVIP): This initiative aims to verify the voter lists and update them with correct information. It also provides voters with important information such as their polling booth location, electoral officer details and voter ID status.

3. National Voters' Service Portal (NVSP): This is an online portal that provides various services to voters, such as registration, correction of details, deletion of names, and tracking of voter ID status. It also provides information on upcoming elections, polling booths, and voter turnout data.

4. Electoral Literacy Clubs (ELCs): This is a new initiative launched by the Election Commission of India to increase voter awareness among young voters. ELCs are set up in schools and colleges to educate students about the importance of voting and to encourage them to participate in elections.

5. PwD (Persons with Disabilities) app: The Election Commission of India has developed a mobile application called PwD, which is aimed at increasing voter participation among persons with disabilities. The app provides information on polling booth locations, transport facilities, and polling booth accessibility for persons with disabilities.

These schemes and initiatives are designed to increase awareness of elections and voting, and to encourage more people to participate in the democratic process.
</p>


{% endblock %}